<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockMarket.Properties.Settings.StockMarketConnectionString"
            connectionString="Data Source=THEPHOENIX-WIND\SQLEXPRESS;Initial Catalog=StockMarket;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="StockMarket.Properties.Settings.StockMarketConnectionString2"
            connectionString="Data Source=THEPHOENIX-WIND\SQLEXPRESS;Initial Catalog=StockMarket;Integrated Security=True;Pooling=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>